<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Storm.NetFramework.Properties.Settings.StormConnectionString"
            connectionString="Data Source=200.59.1.112;Initial Catalog=Storm;User ID=sa;Password=Фф123456"
            providerName="System.Data.SqlClient" />
        <add name="Storm.NetFramework.Properties.Settings.StormConnectionString1"
            connectionString="Data Source=200.59.1.112;Initial Catalog=Storm;Persist Security Info=True;User ID=sa;Password=Фф123456"
            providerName="System.Data.SqlClient" />
        <add name="Storm.NetFramework.Properties.Settings.StormConnectionString2"
            connectionString="Data Source=192.168.174.128;Initial Catalog=Storm;User ID=sa;Password=Aa123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
